
html {
    scroll-behavior: smooth;
  }

.slider{
  width: 100%;
  margin-bottom: 1.5rem;
}

.slick-dots{
  margin-top: 0.5rem;
}

.cardImage{
  gap:3.5px;
}

img::selection{
  background-color: transparent;
}